In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_viz.csv')

In [3]:
df

,entry,name,date,weight of the pass,angle of kick (p),position awareness,passing,the cut,lunge,scissors,fake kick,dribbling,kick strength,accuracy,angle of kick,kicking
0,NaN,Kartik,2020-01-01,2,1,3,2.00,3,3,3,5,3.50,5,4,1,3.33
1,NaN,Maria,2020-01-01,4,4,4,4.00,4,4,2,1,2.75,5,5,4,4.67
2,NaN,Sara,2020-01-01,2,1,2,1.67,1,5,2,2,2.50,2,1,3,2.00
3,NaN,Anjana,2020-01-01,1,1,1,1.00,3,2,1,4,2.50,4,5,3,4.00
4,NaN,Ahmed,2020-01-01,5,4,2,3.67,4,2,3,3,3.00,5,5,5,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,Ahmed,2020-04-09,1,5,2,2.67,1,2,1,3,1.75,1,4,2,2.33
995,NaN,Manaf,2020-04-09,3,3,3,3.00,4,3,4,5,4.00,3,4,2,3.00
996,NaN,Kiran,2020-04-09,3,5,3,3.67,3,4,1,3,2.75,4,4,2,3.33
997,NaN,Michael,2020-04-09,4,5,5,4.67,2,2,5,4,3.25,5,4,2,3.67
998,NaN,Dani,2020-04-09,3,1,5,3.00,2,2,1,2,1.75,3,1,2,2.00

In [4]:
df['date'] = pd.to_datetime(df['date']).dt.date
df['date'].max()

datetime.date(2020, 4, 9)

In [5]:
df['week'] = pd.DatetimeIndex(df['date']).week
df['year'] = pd.DatetimeIndex(df['date']).year
df['QY']= df['year'].astype(str) + 'W' + df['week'].astype(str)

<ipython-input-5-8f666a1fae91>:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df['week'] = pd.DatetimeIndex(df['date']).week

In [6]:
df

,entry,name,date,weight of the pass,angle of kick (p),position awareness,passing,the cut,lunge,scissors,fake kick,dribbling,kick strength,accuracy,angle of kick,kicking,week,year,QY
0,NaN,Kartik,2020-01-01,2,1,3,2.00,3,3,3,5,3.50,5,4,1,3.33,1,2020,2020W1
1,NaN,Maria,2020-01-01,4,4,4,4.00,4,4,2,1,2.75,5,5,4,4.67,1,2020,2020W1
2,NaN,Sara,2020-01-01,2,1,2,1.67,1,5,2,2,2.50,2,1,3,2.00,1,2020,2020W1
3,NaN,Anjana,2020-01-01,1,1,1,1.00,3,2,1,4,2.50,4,5,3,4.00,1,2020,2020W1
4,NaN,Ahmed,2020-01-01,5,4,2,3.67,4,2,3,3,3.00,5,5,5,5.00,1,2020,2020W1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,Ahmed,2020-04-09,1,5,2,2.67,1,2,1,3,1.75,1,4,2,2.33,15,2020,2020W15
995,NaN,Manaf,2020-04-09,3,3,3,3.00,4,3,4,5,4.00,3,4,2,3.00,15,2020,2020W15
996,NaN,Kiran,2020-04-09,3,5,3,3.67,3,4,1,3,2.75,4,4,2,3.33,15,2020,2020W15
997,NaN,Michael,2020-04-09,4,5,5,4.67,2,2,5,4,3.25,5,4,2,3.67,15,2020,2020W15
998,NaN,Dani,2020-04-09,3,1,5,3.00,2,2,1,2,1.75,3,1,2,2.00,15,2020,2020W15

In [7]:
df.sort_values("QY", axis = 0, ascending = True, 
                 inplace = True, na_position ='last') 
qy_val = df.QY.unique() 
qy_val

array(['2020W1', '2020W10', '2020W11', '2020W12', '2020W13', '2020W14',
       '2020W15', '2020W2', '2020W3', '2020W4', '2020W5', '2020W6',
       '2020W7', '2020W8', '2020W9'], dtype=object)

In [8]:
l = len(qy_val)
i=0
while(i<l):
    globals()['df%s' % i] = df[df['QY']==qy_val[i]]
    i = i+1

In [9]:
i = 0
while (i<l):
    
    globals()['df_passing%s' % i] = globals()['df%s' % i].groupby('name').passing.sum().reset_index()
    globals()['df_passing%s' % i].columns = ['name','passing']
    
    globals()['df_dribbling%s' % i] = globals()['df%s' % i].groupby('name').dribbling.sum().reset_index()
    globals()['df_dribbling%s' % i].columns = ['name','dribbling']
    
    globals()['df_kicking%s' % i] = globals()['df%s' % i].groupby('name').kicking.sum().reset_index()
    globals()['df_kicking%s' % i].columns = ['name','kicking']
    
    globals()['df_user%s' % i] = pd.merge(globals()['df_passing%s' % i], globals()['df_dribbling%s' % i], on='name')  
    globals()['df_user%s' % i] = pd.merge(globals()['df_user%s' % i], globals()['df_kicking%s' % i], on='name')
    
    #1
    
    globals()['df_weight_pass%s' % i] = globals()['df%s' % i].groupby('name')['weight of the pass'].sum().reset_index()
    globals()['df_weight_pass%s' % i].columns = ['name','weight of the pass']
    
    globals()['df_angle_kick%s' % i] = globals()['df%s' % i].groupby('name')['angle of kick (p)'].sum().reset_index()
    globals()['df_angle_kick%s' % i].columns = ['name','angle of kick (p)']
    
    globals()['df_pos_aware%s' % i] = globals()['df%s' % i].groupby('name')['position awareness'].sum().reset_index()
    globals()['df_pos_aware%s' % i].columns = ['name','position awareness']
    
    globals()['df_user_1%s' % i] = pd.merge(globals()['df_weight_pass%s' % i], globals()['df_angle_kick%s' % i], on='name')  
    globals()['df_user_1%s' % i] = pd.merge(globals()['df_user_1%s' % i], globals()['df_pos_aware%s' % i], on='name')
    
    #2
    
    globals()['df_the_cut%s' % i] = globals()['df%s' % i].groupby('name')['the cut'].sum().reset_index()
    globals()['df_the_cut%s' % i].columns = ['name','the cut']
    
    globals()['df_lunge%s' % i] = globals()['df%s' % i].groupby('name')['lunge'].sum().reset_index()
    globals()['df_lunge%s' % i].columns = ['name','lunge']
    
    globals()['df_scissors%s' % i] = globals()['df%s' % i].groupby('name')['scissors'].sum().reset_index()
    globals()['df_scissors%s' % i].columns = ['name','scissors']
    
    
    globals()['df_fake_kick%s' % i] = globals()['df%s' % i].groupby('name')['fake kick'].sum().reset_index()
    globals()['df_fake_kick%s' % i].columns = ['name',' fake kick']
    
    globals()['df_user_2%s' % i] = pd.merge(globals()['df_the_cut%s' % i], globals()['df_lunge%s' % i], on='name')  
    globals()['df_user_2%s' % i] = pd.merge(globals()['df_user_2%s' % i], globals()['df_scissors%s' % i], on='name')
    globals()['df_user_2%s' % i] = pd.merge(globals()['df_user_2%s' % i], globals()['df_fake_kick%s' % i], on='name')
    
    
    #3
    
    globals()['df_kick_str%s' % i] = globals()['df%s' % i].groupby('name')['kick strength'].sum().reset_index()
    globals()['df_kick_str%s' % i].columns = ['name','kick strength']
    
    globals()['df_accuracy%s' % i] = globals()['df%s' % i].groupby('name')['accuracy'].sum().reset_index()
    globals()['df_accuracy%s' % i].columns = ['name','accuracy']
    
    globals()['df_kick_angle%s' % i] = globals()['df%s' % i].groupby('name')['angle of kick'].sum().reset_index()
    globals()['df_kick_angle%s' % i].columns = ['name','angle of kick']
    
    
      
    globals()['df_user_3%s' % i] = pd.merge(globals()['df_kick_str%s' % i], globals()['df_accuracy%s' % i], on='name')  
    globals()['df_user_3%s' % i] = pd.merge(globals()['df_user_3%s' % i], globals()['df_kick_angle%s' % i], on='name')
    
    #all
    
    globals()['df_user%s' % i] = pd.merge(globals()['df_user%s' % i], globals()['df_user_1%s' % i], on='name')  
    globals()['df_user%s' % i] = pd.merge(globals()['df_user%s' % i], globals()['df_user_2%s' % i], on='name')
    globals()['df_user%s' % i] = pd.merge(globals()['df_user%s' % i], globals()['df_user_3%s' % i], on='name')
    
    
    globals()['df_user%s' % i]['QY'] = qy_val[i]
    
    i= i+1

In [10]:
df_user0

,name,passing,dribbling,kicking,weight of the pass,angle of kick (p),position awareness,the cut,lunge,scissors,fake kick,kick strength,accuracy,angle of kick,QY
0,Ahmed,13.01,14.50,19.66,16,12,11,17,10,15,16,22,14,23,2020W1
1,Anjana,11.00,14.25,13.67,12,9,12,18,13,13,13,11,16,14,2020W1
2,Dani,16.68,17.25,12.67,18,10,22,16,12,24,17,13,13,12,2020W1
3,Kartik,14.34,17.50,14.66,15,13,15,17,17,16,20,13,14,17,2020W1
4,Kiran,14.01,17.00,13.99,11,16,15,11,19,20,18,11,13,18,2020W1
5,Kritika,13.33,15.50,12.67,12,12,16,19,16,11,16,9,11,18,2020W1
6,Manaf,15.99,15.75,15.66,20,14,14,21,16,15,11,19,10,18,2020W1
7,Maria,12.67,16.00,19.00,15,13,10,17,17,19,11,20,19,18,2020W1
8,Michael,15.00,16.50,13.33,14,19,12,15,12,20,19,12,14,14,2020W1
9,Sara,13.00,15.00,17.67,10,12,17,13,20,15,12,18,16,19,2020W1

In [11]:
i = 0
list_of_dataframes = []
while(i<l):
    list_of_dataframes.append(globals()['df_user%s' % i])
    i = i+1

In [12]:
df_comb = pd.concat(list_of_dataframes)
df_comb

,name,passing,dribbling,kicking,weight of the pass,angle of kick (p),position awareness,the cut,lunge,scissors,fake kick,kick strength,accuracy,angle of kick,QY
0,Ahmed,13.01,14.50,19.66,16,12,11,17,10,15,16,22,14,23,2020W1
1,Anjana,11.00,14.25,13.67,12,9,12,18,13,13,13,11,16,14,2020W1
2,Dani,16.68,17.25,12.67,18,10,22,16,12,24,17,13,13,12,2020W1
3,Kartik,14.34,17.50,14.66,15,13,15,17,17,16,20,13,14,17,2020W1
4,Kiran,14.01,17.00,13.99,11,16,15,11,19,20,18,11,13,18,2020W1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Kritika,20.67,21.00,16.66,20,23,19,22,18,24,20,19,11,20,2020W9
6,Manaf,18.00,22.25,26.00,18,19,17,18,27,25,19,26,21,31,2020W9
7,Maria,20.99,17.75,22.67,24,19,20,14,22,23,12,23,18,27,2020W9
8,Michael,22.00,24.25,20.67,22,17,27,18,31,21,27,22,18,22,2020W9
9,Sara,18.99,17.75,21.00,22,19,16,22,12,17,20,18,24,21,2020W9

In [13]:
df_comb = df_comb.round(1)

In [14]:
df_comb.to_csv('part_wise.csv', index = False)

In [15]:
df_comb_final_0 = df_comb.groupby('name').passing.sum().reset_index()

In [16]:
df_comb_final_1 = df_comb.groupby('name').dribbling.sum().reset_index()

In [17]:
df_comb_final_2 = df_comb.groupby('name').kicking.sum().reset_index()

In [18]:
df_comb_final = pd.merge(df_comb_final_0, df_comb_final_1, on='name')

In [19]:
df_comb_final = pd.merge(df_comb_final, df_comb_final_2, on='name')

In [20]:
df_comb_final

      name  passing  dribbling  kicking
0    Ahmed    291.9      291.7    295.4
1   Anjana    287.4      301.9    290.1
2     Dani    293.1      298.5    290.1
3   Kartik    292.2      309.1    306.9
4    Kiran    307.0      307.9    298.7
5  Kritika    290.5      295.3    312.8
6    Manaf    298.0      316.4    297.6
7    Maria    296.5      295.3    297.9
8  Michael    294.7      307.6    303.0
9     Sara    289.3      301.5    309.2

In [21]:
df_comb_final['passing'] = df_comb_final.passing.rank(pct = True) 
df_comb_final['passing'] = df_comb_final['passing']*100

df_comb_final['dribbling'] = df_comb_final.dribbling.rank(pct = True) 
df_comb_final['dribbling'] = df_comb_final['dribbling']*100

df_comb_final['kicking'] = df_comb_final.kicking.rank(pct = True) 
df_comb_final['kicking'] = df_comb_final['kicking']*100

df_comb_final['overall_score'] = df_comb_final['passing'] + df_comb_final['dribbling'] + df_comb_final['kicking']
df_comb_final['overall_score'] = df_comb_final['overall_score']/3

In [22]:
df_comb_final['Overall Segment'] = 'Need Attention'
df_comb_final.loc[df_comb_final['overall_score'] >= 25,'Overall Segment'] = 'Need Improvement' 
df_comb_final.loc[df_comb_final['overall_score'] >= 50,'Overall Segment'] = 'Good' 
df_comb_final.loc[df_comb_final['overall_score'] >= 75,'Overall Segment'] = 'Top'

In [23]:
df_comb_final['Passing Segment'] = 'Need Attention'
df_comb_final.loc[df_comb_final['passing'] >= 25,'Passing Segment'] = 'Need Improvement' 
df_comb_final.loc[df_comb_final['passing'] >= 50,'Passing Segment'] = 'Good' 
df_comb_final.loc[df_comb_final['passing'] >= 75,'Passing Segment'] = 'Top'

In [24]:
df_comb_final['Dribbling Segment'] = 'Need Attention'
df_comb_final.loc[df_comb_final['dribbling'] >= 25,'Dribbling Segment'] = 'Need Improvement' 
df_comb_final.loc[df_comb_final['dribbling'] >= 50,'Dribbling Segment'] = 'Good' 
df_comb_final.loc[df_comb_final['dribbling'] >= 75,'Dribbling Segment'] = 'Top'

In [25]:
df_comb_final['Kicking Segment'] = 'Need Attention'
df_comb_final.loc[df_comb_final['kicking'] >= 25,'Kicking Segment'] = 'Need Improvement' 
df_comb_final.loc[df_comb_final['kicking'] >= 50,'Kicking Segment'] = 'Good' 
df_comb_final.loc[df_comb_final['kicking'] >= 75,'Kicking Segment'] = 'Top'

In [26]:
df_comb_final

,name,passing,dribbling,kicking,overall_score,Overall Segment,Passing Segment,Dribbling Segment,Kicking Segment
0,Ahmed,40.0,10.0,30.0,26.666667,Need Improvement,Need Improvement,Need Attention,Need Improvement
1,Anjana,10.0,60.0,10.0,26.666667,Need Improvement,Need Attention,Good,Need Attention
2,Dani,60.0,40.0,20.0,40.000000,Need Improvement,Good,Need Improvement,Need Attention
3,Kartik,50.0,90.0,80.0,73.333333,Good,Good,Top,Top
4,Kiran,100.0,80.0,60.0,80.000000,Top,Top,Top,Good
5,Kritika,30.0,25.0,100.0,51.666667,Good,Need Improvement,Need Improvement,Top
6,Manaf,90.0,100.0,40.0,76.666667,Top,Top,Top,Need Improvement
7,Maria,80.0,25.0,50.0,51.666667,Good,Top,Need Improvement,Good
8,Michael,70.0,70.0,70.0,70.000000,Good,Good,Good,Good
9,Sara,20.0,50.0,90.0,53.333333,Good,Need Attention,Good,Top

In [27]:
df_comb_final = df_comb_final.round(1)

In [28]:
df_comb_final.to_csv('all.csv', index = False)